.navbar-brand {
  color: black;
}
.blk {
  color: black;
  margin-right: 10px;
}
.ctr {
  align-content: center;
}
.needsImage{
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  opacity: 1;
}
#MainItem {
  /* background-color: blue; */
  background-image: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

#MainText{
  /* margin: 10px 10px 10px 10px; */
  padding: 10px 10px 10px 10px; /* top right bot left;*/
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  align-self: center;
}
.imageText{
  margin-top: 10px;
  background-color: rgba(255,255,255,0.7);
  text-align: center;
  align-self: center;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-center {

  display: flex;
  align-items: center;
}
